.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333; /* Marco en color negro */
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.black {
    background-color: #000; /* Casillas negras */
    color: #fff; /* Piezas blancas sobre casillas negras */
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #fff; /* Casillas blancas */
    color: #000; /* Piezas negras sobre casillas blancas */
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

